@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
:root {
  --geist-success-lighter: #d3e5ff;
  --geist-success-light: #3291ff;
  --geist-success: #0070f3;
  --geist-success-dark: #0761d1;
  --geist-error-lighter: #f7d4d6;
  --geist-error-light: #ff1a1a;
  --geist-error: #e00;
  --geist-error-dark: #c50000;
  --geist-warning-lighter: #ffefcf;
  --geist-warning-light: #f7b955;
  --geist-warning: #f5a623;
  --geist-warning-dark: #ab570a;
  --geist-violet-lighter: #e3d7fc;
  --geist-violet-light: #8a63d2;
  --geist-violet: #7928ca;
  --geist-violet-dark: #4c2889;
  --geist-cyan-lighter: #aaffec;
  --geist-cyan-light: #79ffe1;
  --geist-cyan: #50e3c2;
  --geist-cyan-dark: #29bc9b;
  --geist-highlight-purple: #f81ce5;
  --geist-highlight-magenta: #eb367f;
  --geist-highlight-pink: #ff0080;
  --geist-foreground: #000;
  --geist-background: #fff;
  --geist-selection: var(--geist-cyan-light);
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --geist-link-color: var(--geist-success);
  --geist-marketing-gray: #fafbfc;
  --geist-code: var(--geist-highlight-purple);
  --geist-secondary-lighter: var(--accents-2);
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --dropdown-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
  --dropdown-triangle-stroke: #fff;
  --scroller-start: #fff;
  --scroller-end: hsla(0, 0%, 100%, 0);
  --shadow-smallest: 0px 4px 8px rgba(0, 0, 0, 0.12);
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
  --shadow-hover: 0 30px 60px rgba(0, 0, 0, 0.12);
  --shadow-sticky: 0 12px 10px -10px rgba(0, 0, 0, 0.12);
  --portal-opacity: 0.25;
  --geist-space: 4px;
  --geist-space-2x: 8px;
  --geist-space-4x: 16px;
  --geist-space-8x: 32px;
  --geist-space-16x: 64px;
  --geist-space-24x: 96px;
  --geist-space-32x: 128px;
  --geist-space-48x: 192px;
  --geist-space-64x: 256px;
  --geist-space-small: 32px;
  --geist-space-medium: 40px;
  --geist-space-large: 48px;
  --geist-space-gap: 24px;
  --geist-space-gap-half: 12px;
  --geist-space-gap-quarter: var(--geist-space-2x);
  --geist-gap: var(--geist-space-gap);
  --geist-gap-half: var(--geist-space-gap-half);
  --geist-gap-quarter: var(--geist-space-gap-quarter);
  --geist-gap-double: var(--geist-space-large);
  --geist-space-negative: -4px;
  --geist-space-2x-negative: -8px;
  --geist-space-4x-negative: -16px;
  --geist-space-8x-negative: -32px;
  --geist-space-16x-negative: -64px;
  --geist-space-24x-negative: -96px;
  --geist-space-32x-negative: -128px;
  --geist-space-48x-negative: -192px;
  --geist-space-64x-negative: -256px;
  --geist-space-small-negative: -32px;
  --geist-space-medium-negative: -40px;
  --geist-space-large-negative: -48px;
  --geist-space-gap-negative: -24px;
  --geist-space-gap-half-negative: -12px;
  --geist-space-gap-quarter-negative: var(--geist-space-2x-negative);
  --geist-gap-negative: var(--geist-space-gap-negative);
  --geist-gap-half-negative: var(--geist-space-gap-half-negative);
  --geist-gap-quarter-negative: var(--geist-space-gap-quarter-negative);
  --geist-gap-double-negative: var(--geist-space-large-negative);
  --geist-page-margin: var(--geist-space-gap);
  --geist-page-width: 1000px;
  --geist-page-width-with-margin: 1048px;
  --geist-radius: 5px;
  --geist-marketing-radius: 8px;
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  --header-height: 64px;
  --header-border-bottom: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  --header-background: hsla(0, 0%, 100%, 0.8);
  --geist-form-large-font: 1rem;
  --geist-form-large-line-height: 1.5rem;
  --geist-form-large-height: var(--geist-space-large);
  --geist-form-small-font: 0.875rem;
  --geist-form-small-line-height: 0.875rem;
  --geist-form-small-height: var(--geist-space-small);
  --geist-form-font: 0.875rem;
  --geist-form-line-height: 1.25rem;
  --geist-form-height: var(--geist-space-medium);
}

.video-main {
  max-width: 100%;
  position: relative;
  width: 571.429px;
}

.video-container {
  display: flex;
  justify-content: center;
  padding-bottom: 65%;
}

iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  cursor: pointer;
}

iframe:hover + .video-controls,
.video-controls:hover {
  opacity: 1;
  transform: translateZ(0);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
}

.video-controls {
  position: absolute;
  top: 4%;
  right: 3%;
  background: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translate3d(0, 6px, 0);
  transition: all 0.2s cubic-bezier(0.25, 0.57, 0.45, 0.94);
}

.video-remove {
  background: transparent;
  border: 0;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  cursor: pointer;
  flex: 0 0 40px;
  padding: 0;
}

.add-stream {
  position: relative;
  bottom: 5%;
  background: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  width: 30%;
  transition: all 0.2s cubic-bezier(0.25, 0.57, 0.45, 0.94);
  opacity: 1;
  transform: translateZ(0);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.button:focus,
.add-button:focus {
  outline: none;
}

.add-button {
  color: #fff;
  background-color: #000;
  padding: 0px 15px;
  margin: 0 0 0 5px;
  height: 40px;
  border-radius: 5px;
  font-size: 0.875rem;
  width: 100%;
}

.input_container__1QFMt {
  display: flex;
  align-items: center;
  font-size: var(--geist-form-font);
  max-width: 100%;
  min-width: 220px;
}

.input_input__3wlDO {
  font: inherit;
  font-size: 100%;
  width: 100%;
  display: inline-flex;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--themed-border, var(--accents-2));
  border-radius: var(--geist-radius);
  padding: 0 var(--geist-gap-half);
  background: var(--themed-bg, var(--geist-background));
  color: var(--themed-fg, var(--geist-foreground));
  height: var(--geist-form-height);
  line-height: normal;
  order: 1;
  outline: none;
  transition: border-color 0.15s ease;
}

.input_container__1QFMt:not(.geist-themed) .input_input__3wlDO:focus {
  border-color: var(--accents-5);
}

.input_input__3wlDO::-moz-placeholder {
  color: var(--themed-fg);
  opacity: 0.6;
}

.input_input__3wlDO:-ms-input-placeholder {
  color: var(--themed-fg);
  opacity: 0.6;
}

.input_input__3wlDO::-ms-input-placeholder {
  color: var(--themed-fg);
  opacity: 0.6;
}

.input_input__3wlDO::placeholder {
  color: var(--themed-fg);
  opacity: 0.6;
}

.input_input__3wlDO[disabled] {
  background: var(--accents-1);
  border-color: var(--accents-2);
  color: var(--accents-5);
  opacity: 1;
  -webkit-text-fill-color: var(--accents-5);
  cursor: not-allowed;
}

.input_input__3wlDO[disabled]::-moz-placeholder {
  opacity: 1;
  color: var(--accents-3);
  -webkit-text-fill-color: var(--accents-3);
}

.input_input__3wlDO[disabled]:-ms-input-placeholder {
  opacity: 1;
  color: var(--accents-3);
  -webkit-text-fill-color: var(--accents-3);
}

.input_input__3wlDO[disabled]::-ms-input-placeholder {
  opacity: 1;
  color: var(--accents-3);
  -webkit-text-fill-color: var(--accents-3);
}

.input_input__3wlDO[disabled]::placeholder {
  opacity: 1;
  color: var(--accents-3);
  -webkit-text-fill-color: var(--accents-3);
}

.input_prefix__22g3W {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input_suffix__2dRFl {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input_prefix__22g3W .input_input__3wlDO {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input_suffix__2dRFl .input_input__3wlDO {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input_container__1QFMt.geist-themed .input_prefix__22g3W > :first-child,
.input_container__1QFMt.geist-themed .input_suffix__2dRFl > :last-child {
  border-color: var(--themed-border);
  color: var(--themed-fg);
}

.input_prefix__22g3W > :nth-child(2),
.input_suffix__2dRFl > :last-child {
  flex-shrink: 0;
  position: relative;
  color: var(--accents-4);
  background: var(--accents-1);
  border: 1px solid var(--accents-2);
  height: 2.5rem;
  padding: 0 var(--geist-gap-half);
  display: flex;
  align-items: center;
  transition: border-color 0.15s ease, color 0.15s ease;
}

.input_prefix__22g3W > :nth-child(2) {
  order: 0;
  border-right: 0;
  border-radius: var(--geist-radius) 0 0 var(--geist-radius);
}

.input_suffix__2dRFl > :last-child {
  order: 2;
  border-left: 0;
  border-radius: 0 var(--geist-radius) var(--geist-radius) 0;
}

.input_prefix__22g3W.input_noPrefixStyle__3Vu_y > :nth-child(2) {
  background: var(--geist-background);
  margin-right: var(--geist-gap-half-negative);
  border-color: var(--themed-border, var(--accents-2));
}

.input_prefix__22g3W.input_noPrefixStyle__3Vu_y .input_input__3wlDO {
  border-left: 0;
}

.input_suffix__2dRFl.input_noSuffixStyle__2RyuH > :last-child {
  background: var(--geist-background);
  margin-left: var(--geist-gap-half-negative);
  border-color: var(--themed-border, var(--accents-2));
}

.input_suffix__2dRFl.input_noSuffixStyle__2RyuH .input_input__3wlDO {
  border-right: 0;
}

.input_prefix__22g3W.input_noPrefixStyle__3Vu_y .input_input__3wlDO:focus + *,
.input_suffix__2dRFl.input_noSuffixStyle__2RyuH
  .input_input__3wlDO:focus
  ~ :last-child {
  border-color: var(--themed-border, var(--accents-5));
}

.input_prefix__22g3W.input_noPrefixStyle__3Vu_y
  .input_input__3wlDO[disabled]
  + *,
.input_suffix__2dRFl.input_noSuffixStyle__2RyuH
  .input_input__3wlDO[disabled]
  ~ :last-child {
  background: var(--accents-1);
  cursor: not-allowed;
}

.input_large__g2bon .input_input__3wlDO {
  height: var(--geist-form-large-height);
  font-size: var(--geist-form-large-font);
}

.input_small__3cjMu .input_input__3wlDO {
  font-size: var(--geist-form-small-font);
  height: var(--geist-form-small-height);
}

.input_large__g2bon.input_prefix__22g3W > :nth-child(2),
.input_large__g2bon.input_suffix__2dRFl > :last-child {
  height: var(--geist-form-large-height);
  font-size: var(--geist-form-large-font);
}

.input_small__3cjMu.input_prefix__22g3W > :nth-child(2),
.input_small__3cjMu.input_suffix__2dRFl > :last-child {
  padding: 0 var(--geist-gap-quarter);
  height: var(--geist-form-small-height);
  font-size: var(--geist-form-small-font);
}

@media (max-width: 600px) {
  .input_container__1QFMt {
    font-size: 1rem;
  }
}

.clearable_button__3UNRt {
  cursor: pointer;
  transition: color 0.15s ease, box-shadow 0.15s, border-color 0.15s;
}

.reset_reset__3ht6- {
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.footer {
  font-size: 13px;
  color: #59626d;
}

.footer-inner {
  border-top: 1px solid #d5dce5;
  padding: 10px 0;
}
